<div id="<%= dom_id gio_hang %>">
  <strong>Tên Người Dùng:</strong>
  <%= gio_hang.nguoidung.TenND %>

  <p>
    <strong>Sản Phẩm:</strong>
    <%= gio_hang.san_pham.TenSP %>
  </p>

  <strong>Ảnh Minh Họa:</strong>
  <img src="<%= gio_hang.AnhminhHoa %>" width="100px">

  <p>
    <strong>Tên Sản Phẩm:</strong>
    <%= gio_hang.TenSP %>
  </p>

  <p>
    <strong>Giá:</strong>
    <%= gio_hang.Gia %>
  </p>

  <p>
    <strong>Kích Thước:</strong>
    <%= gio_hang.kich_thuoc.Size %>
  </p>

  <p>
    <strong>Số Lượng:</strong>
    <%= gio_hang.soluong %>
  </p>

  <p>
    <strong>Tổng Tiền:</strong>
    <%= gio_hang.thanhtien %>
  </p>

  <p>
    <strong>Địa chỉ:</strong>
    <%= gio_hang.nguoidung.DiaChi %>
  </p>

  <p>
    <strong>Số Điện Thoại:</strong>
    <%= gio_hang.nguoidung.SDT %>
  </p>
</div>
