<div id="<%= dom_id nguoidung %>">
  <p>
    <strong>Tên Người Dùng:</strong>
    <%= nguoidung.TenND %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= nguoidung.Email %>
  </p>

  <p>
    <strong>Địa Chỉ:</strong>
    <%= nguoidung.DiaChi %>
  </p>

  <p>
    <strong>Số Điện Thoại:</strong>
    <%= nguoidung.SDT %>
  </p>

  <p>
    <strong>Mật Khẩu:</strong>
    <%= nguoidung.MatKhau %>
  </p>

  <p>
    <strong>Giới Tính:</strong>
    <%= nguoidung.phai.TenPhai %>
  </p>

  <p>
    <strong>Loại Quyền :</strong>
    <%= nguoidung.quyen.TenQ %>
  </p>

</div>
