<div id="<%= dom_id san_pham %>">
  <strong> Tên sản phẩm:</strong>
  <%= san_pham.TenSP %> 
  <br>
 <strong>Ảnh Minh Họa: </strong>
 <br>
 <img src="<%= san_pham.AnhMinhHoa %>" width="150px">
   

  <p>
    <strong>Danh Mục:</strong>
    <%= san_pham.danh_muc_id %>
  </p>

  <p>
    <strong>Giá:</strong>
    <%= san_pham.Gia %>
  </p>

  <p>
    <strong>Mô Tả Sản Phẩm :</strong>
    <%= san_pham.MoTa %>
  </p>

</div>
