<p style="color: green"><%= notice %></p>

<%= render @phai %>

<div>
  <%= link_to "Edit this phai", edit_phai_path(@phai) %> |
  <%= link_to "Back to phais", phais_path %>

  <%= button_to "Destroy this phai", @phai, method: :delete %>
</div>
